/*==================== BUTTONS ====================*/
.button{
	display: inline-block;
	background-color: var(--color-primary);
	color: #FFF;
	padding: .7rem;
	border-radius: .5rem;
	font-weight: var(--font-medium);
	font-size: var(--normal-font-size);
	cursor: pointer;
	font-family: var(--body-font);
	border: 0;
}

a {
    text-decoration: none;
    font-weight: var(--fontWeight-bold);
}

.button:hover{
	background-color: var(--color-primary-alt)
}

.button__icon{
	font-size: 1.25rem;
	margin-left: var(--mb-0-5);
	transition: .3s;
}

.button--white{
	background-color: #FFF;
	color: var(--first-color);
}

.button--white:hover{
	background-color: #FFF;

}

.button--flex{
	display: inline-flex;
	align-items: center;
}

.button--small{
	padding : .75rem 1rem;
}

.button--link{
	padding:0;
	background-color: transparent;
	color: var(--first-color);
}

.button--link:hover{
	background-color: transparent;
	color: var(--first-color-alt);

}